.scrollmeter_container {
    // bar style variables
    --scrollmeter-bar-color: rgba(74, 144, 226, 0.9);
    --scrollmeter-bar-background: transparent;
    --scrollmeter-bar-height: 10px;

    // timeline style variables
    --scrollmeter-timeline-color: #838383;
    --scrollmeter-timeline-width: 4px;

    // tooltip style variables
    --scrollmeter-tooltip-background: #333;
    --scrollmeter-tooltip-font-color: white;
    --scrollmeter-tooltip-font-size: 12px;
    --scrollmeter-tooltip-padding-inline: 8px;
    --scrollmeter-tooltip-padding-block: 6px;
    --scrollmeter-tooltip-width: 150px;

    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: var(--scrollmeter-bar-background);
    transition: opacity 0.2s ease-out;
    opacity: 0;

    .scrollmeter_bar {
        width: 0;
        height: var(--scrollmeter-bar-height);
        background-color: var(--scrollmeter-bar-color);
        transition: width 0.2s ease-out;
    }

    .scrollmeter_timeline {
        position: absolute;
        top: 0;
        width: var(--scrollmeter-timeline-width);
        height: 100%;
        background-color: var(--scrollmeter-timeline-color);
        cursor: pointer;

        .scrollmeter_timeline_tooltip {
            visibility: hidden;
            opacity: 0;
        }

        &:hover {
            .scrollmeter_timeline_tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .scrollmeter_timeline_tooltip {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 4px;
        top: calc(var(--scrollmeter-bar-height) + 16px);
        padding-block: var(--scrollmeter-tooltip-padding-block);
        padding-inline: var(--scrollmeter-tooltip-padding-inline);
        width: var(--scrollmeter-tooltip-width);
        background-color: var(--scrollmeter-tooltip-background);
        color: var(--scrollmeter-tooltip-font-color);
        transition: opacity 0.2s ease-out;
        overflow: hidden;

        > p {
            width: 100%;
            margin: 0;
            padding-block: 4px 2px;
            font-size: var(--scrollmeter-tooltip-font-size);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:after {
            content: '';
            position: absolute;
            top: -5px;
            border-style: solid;

            border-color: transparent transparent #333;
        }

        &_left {
            left: 1px;
            border-radius: 0 5px 5px 5px;

            &:after {
                left: 0px;
                border-width: 0 5px 5px 1px;
            }
        }

        &_right {
            right: calc(var(--scrollmeter-timeline-width) - calc(var(--scrollmeter-timeline-width) / 2));
            border-radius: 5px 0 5px 5px;

            &:after {
                right: 0px;
                border-width: 0 1px 5px 5px;
            }
        }

        &_center {
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;

            &:after {
                left: 50%;
                transform: translateX(-50%);
                border-width: 0 5px 5px 5px;
            }
        }

        .scrollmeter_timeline_preview {
            width: 100%;
            aspect-ratio: 16/9;

            > img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}
